.history-vertical-gap {
    --gap-vertical: 30px;
}

.workout-vertical-gap {
    --gap-vertical: 18px;
}

.workout-header {
    font-size: 14px;
    .adm-tag-round {
        border-radius: 6px;
    }
}

.date-time {
    border-color: rgb(214, 227, 241);
    background-color: rgb(214, 227, 241);
    color: black;
    font-weight: 600;
}

.workout-duration {
    border-color: rgb(214, 226, 190);
    background-color: rgb(214, 226, 190);
    color: black;
}

.workout-name {
    border-color: rgb(237, 233, 238);
    background-color: rgb(237, 233, 238);
    color: black;
    font-size: 1.1em;
}

.workout-options {
    font-size: 20px;
}

.badge {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 20%;
    background-color: rgb(21, 96, 189);
    font-size: 20px;
    font-weight: bold;
}

.badge-weight {
    height: 100%;
    text-align: center;
    line-height: 1.8em;
    color: rgb(245, 245, 245);
    font-family: "Roboto; Arial; sans-serif";
}

.badge-reps {
    position: absolute;
    top: -30%;
    right: -30%;
    font-size: 0.5em;
    color: rgb(245, 245, 245);
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
    background: red;
    font-family: "Roboto; Arial; sans-serif";
}

.badge-label-KG {
    position: absolute;
    top: 50%;
    right: -40%;
    writing-mode: vertical-rl;
    transform: scale(-1);
    font-size: 0.5em;
}
